header{
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #303030;
}

header a{
    font-size: 36px;
    text-decoration: none;
    color: white;
    margin: 0px 2rem;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header a:hover{
    transform: scale(1.1);
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    height: auto;
    max-height: 90vh;
    width: auto;
    max-width: 100%;
}


#galeria{
    background-color: #303030;
    color: white;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
    min-height: 60vh;
}


.image{
    height: auto;
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


.title{
    font-weight: 600;
    font-size: 72px;
    text-transform: uppercase;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    padding: 5vh 10vw;
    box-sizing: border-box;
}

.article__gallery{
    display: flex;
    justify-content: space-between;

    height: 60vh;
}

.image__single{
    object-fit: contain;
    width: auto;
    height: 50%;
}

.image__three{
    height: auto;
    width: 30%;
    object-fit: contain;
}

.image__three__cover{
    object-fit: cover;
}

.contact{
    background-color: #303030;
    color: white;

    justify-content: space-evenly;
}

.contact__form{
    display: flex;
    flex-direction: column;
}

.contact__form *:not(label){
    margin-bottom: 2rem;
}

